{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title> {% block title %} {% endblock %} </title>
    <link rel = "shortcut icon" href = "{% static 'media/dog.ico' %}" />
    <link rel = "stylesheet" href = "{% static 'css/materialize/materialize.css' %}">
    {% block extrastatic_top %} {% endblock %}
  </head>

  <body>
    {% block header %} {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}

    <script src = "{% static 'js/jquery/jquery.js' %}"></script>
    <script src = "{% static 'js/materialize/materialize.js' %}"></script>
    {% block extrastatic_bottom %} {% endblock %}
  </body>
</html>
