.feature-box {
    background-color: rgba($color-white, .8);
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    color: $color-grey-dark;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    transition: transform .5s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__icon {
        /* icons are a font for this project */
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        color: transparent;
        display: inline-block;
        font-size: 6rem;
        margin-bottom: .5rem;

        -webkit-background-clip: text;
    }

    &__text {
    }
}