.section-about {
    background-color: $color-grey-light-1;
    margin-top: -20vh;
    padding: 25rem 0;
}

.section-features {
    background-image: 
        linear-gradient(
            to right bottom,
            rgba($color-primary, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    padding: 20rem 0;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    margin-top: -10rem;
    padding: 25rem 0 15rem 0;
}
