.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//////////////////////////////////////////
// SIDE NAVIGATION.

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s,
                    width 0.4s
                    cubic-bezier(1, 0, 0, 1) 0.2s,
                    background-color 0.1s;
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

//////////////////////////////////////////
// LEGAL.

.legal {
    font-size: 1.2rem;
    color: var(--grey-light-4);
    text-align: center;
    padding: 2.5rem;
} 