/* default font properties always are set in the body tag */
body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    /* if the animation moves, this avoids this behavior */
    backface-visibility: hidden;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        animation: moveInLeft 2s ease-out;
        /* display block uses the entire width and sets an line break at the end */
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
    }

    &--sub {
        animation: moveInRight 2s ease-out;
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
    }
}

.heading-secondary {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    /* to see the linear-gradient we need to set the color to transparent */
    color: transparent;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    
    transition: all .2s;
    /* the linear-gradient only will be visible where the text is */
    -webkit-background-clip: text;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}